* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
  margin-top: 1em;
  font-weight: bold;
  margin-left: 13%;
}

p {
  margin-bottom: 4rem;
}

.category_img {
  margin-bottom: 2em;
}

.btn {
  background-color: #f3a34f;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid #c58642;
  box-shadow: 2px 4px #c58642;
  font-family: nunito;
  margin-left: 9%;
  cursor: pointer;
}

.btn:hover {
  transform: scale(2.1);
}

.container_btn {
  margin-top: 1em;
}

/* Categories med GRIDS */

/* .categorylist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  padding-bottom: 60px;
  max-width: 75%;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5%;
} */

.categorylist a {
  text-decoration: none;
  text-align: center;
  padding: 2em;
  color: rgb(7, 0, 0);
}

/* mobil */
@media screen and (max-width: 800px) {
  /* .categorylist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    max-width: 100%;
  } */
  .category_img {
    margin-bottom: 3em;
    max-width: 100%;
    margin-left: 2em auto;
    margin-top: 3em;
  }

  h1{
    margin:0.5em;
  }

  p{
    margin: 1em;
  }
}

/* desktop */
@media screen and (min-width: 800px) {
  .categorylist {
    max-width: 75%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  .categorylist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
    padding-bottom: 60px;
    max-width: 75%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5%;
  }
}

