*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #4d4d4d;
  margin-top: 0px;
}

.footer_container {
  width: 100%;
  padding: 50px 30px 20px;
}

.socialicons {
   display: flex;
   justify-content: center;
}

.socialicons a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}

.socialicons a i{
  font-size: 2em;
  opacity: 0.9;
}

.socialicons a:hover {
  background-color: rgb(173, 172, 169);
  transition: 0.5s;
}

 .footernav{
   margin: 30px 0;
 }

 .footernav ul, .footer_logo{
  display: flex;
  justify-content: center;
  list-style-type: none;
 }

.footernav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1em;
  transition: 0.5s;
  opacity: 0.7;
  }

.footernav ul li a:hover{
  opacity: 1;

}

@media screen and (max-width: 800px) {
  .footernav ul {
    flex-direction: column;
  }

  .footernav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }

.footer_container {
  width: 100%;
  padding: 50px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}