a {
  text-decoration: none;
}

/* Desktop */

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
}

.box {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 40px;
  height: auto;
  padding: 2px;
}

.box_1row {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 40px;
  height: auto;
  padding: 4px;
  padding-bottom: 1px;
}

.box_1row img {
  width: 720px;
}
.box img {
  width: 480px;
}

.container .box_1row:hover {
  transform: scale(1.03);
}

.container .box:hover {
  transform: scale(1.03);
}

/* Tablet */


@media screen and (max-width: 1080px) {
.box {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 50px;
  height: auto;
  padding: 2px;
}

.box_1row {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 50px;
  height: auto;
  padding: 4px;
  padding-bottom: 1px;
}

.box_1row img {
  width: 450px;
}

.box img {
  width: 300px;
}
}

/* Mobil */

@media screen and (max-width: 800px) {

.box {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 50px;
  height: auto;
  padding: 2px;
}

.box_1row {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 50px;
  height: auto;
  padding: 4px;
  padding-bottom: 1px;
}

.box_1row img {
  width: 300px;
}

.box img {
  width: 300px;
}
}






