a {
  text-decoration: none;
}

/* Desktop */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 5%;
}

.box {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 50px;
  height: auto;
  padding: 2px;
}

.box_1row {
  /* Flex-grow, flex-shrink, flex-basics properties */
  flex: 0 0 600px;
  height: auto;
  padding: 4px;
  padding-bottom: 1px;
}

.box_1row img {
  width: 600px;
}

.container .box_1row:hover {
  transform: scale(1.1);
}

.container .box:hover {
  transform: scale(1.1);
}

/* Kode fra Danielas virksomhedsprojekt 1 semester (Jørnæs Production site */
.carousel-container {
  position: relative;
  width: 40%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  width: 50%; /* Dela på 50% för att visa två bilder på en rad */
  flex: 0 0 auto; /* Använda auto flex-basis för dynamisk bredd */
  margin: 0;
  padding: 0;
}

.carousel-slide img {
  width: 100%; /* Sätt bildbredden till 100% av dess förälderelement */
  height: auto; /* Automatisk höjd för att behålla proportioner */
  max-width: 100%;
  max-height: 200px;
}

.carousel_text {
  text-align: center;
  margin-bottom: 40px;
}

.custom-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
  background-color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.next-btn {
  right: 10px;
  background-color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.arrow {
  font-size: 13px;
}

/* Tablet */
@media screen and (max-width: 1080px) {
  .box {
    /* Flex-grow, flex-shrink, flex-basics properties */
    flex: 0 0 50px;
    height: auto;
    padding: 2px;
  }

  .box_1row {
    /* Flex-grow, flex-shrink, flex-basics properties */
    flex: 0 0 50px;
    height: auto;
    padding: 4px;
    padding-bottom: 1px;
  }

  .box_1row img {
    width: 300px;
  }

  .box img {
    width: 200px;
  }

  /* --------carousel Tablet----------- */

  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-slide {
  width: 50%; /* Dela på 50% för att visa två bilder på en rad */
  flex: 0 0 auto; /* Använda auto flex-basis för dynamisk bredd */
  margin: 0;
  padding: 0;
}

  .carousel-slide img {
    width: 100%;
    height: auto;
  }

  .custom-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .prev-btn {
    left: 10px;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }

  .next-btn {
    right: 10px;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
  .arrow {
    font-size: 13px;
  }
}


/* Mobil */

@media screen and (max-width: 800px) {
  .box {
    /* Flex-grow, flex-shrink, flex-basics properties */
    flex: 0 0 50px;
    height: auto;
    padding: 2px;
  }

  .box_1row {
    /* Flex-grow, flex-shrink, flex-basics properties */
    flex: 0 0 50px;
    height: auto;
    padding: 4px;
    padding-bottom: 1px;
  }

  .box_1row img {
    width: auto;
  }

  .box img {
    width: auto;
  }


    /* --------carousel mobil----------- */

  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-slide {
  width: 50%; /* Dela på 50% för att visa två bilder på en rad */
  flex: 0 0 auto; /* Använda auto flex-basis för dynamisk bredd */
  margin: 0;
  padding: 0;
}

  .carousel-slide img {
    width: 100%;
    height: auto;
  }

  .custom-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .prev-btn {
    left: 10px;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }

  .next-btn {
    right: 10px;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
  .arrow {
    font-size: 13px;
  }
}


