* {
  box-sizing: border-box;
  margin: 15px;
  padding: 0;
  text-rendering: optimizeLegibility;
}

main {
  background-color: #b9d4bc;
}

#brod {
  width: 350px;
  position: absolute;
  margin-top: 3.5px;
  font-size: 1em;
}

.brodkrumme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 20px;
  justify-content: end;
  font-size: 0.7em;
  margin-bottom: 5%;
}
.brodkrumme a {
  margin-right: 1px;
  margin-left: 1px;
  color: #61503d;
}

.categoryProduct {
  margin: 10%;
}

.subcategory main h1 {
  grid-column: 1/-1;
}

.subcategory article h2 {
  font-size: 2rem;
  flex-grow: 3;
}

.seasons {
  color: #74614d;
}

.info {
  font-size: 1.1rem;
}

.subcategory article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.img {
  display: block;
  max-width: 90%;
  height: auto;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 3em;
}

/* Mobil */
@media screen and (max-width: 800px) {
  .logo {
    z-index: 1;
  }
  h1 {
    padding: 0.5em;
  }
}

/* desktop */
@media screen and (min-width: 800px) {
  h1 {
    padding: 1.5em;
  }
  .subcategory .productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  #brod {
    margin-left: 4%;
  }
}
